[Unit]
Description=Incapsula Logs
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/LogsDownloader.py
StandardInput=tty-force

[Install]
WantedBy=multi-user.target